iframe {
    width: 500px;
    height: 500px;
}


/* .iframe {
    position: relative;
    text-align: center;
} */

iframe {
    /* position: absolute; */
    margin: auto;
    display: block;
}


/* .iframe {
    margin-right: auto;
    margin-left: auto;
} */


/* 
.iframe {
    text-align: center;
} */

body {
    background-color: red;
}